@import "tailwindcss";


.marquee {
    display: flex;
    width: max-content;
    min-width: max-content;
    animation: scroll 15s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-33.333%);
    }
  }